<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title><%=title%></title>

	<style>
	body {
		padding-top: 54px;
	}

	@media (min-width: 992px) {
		body {
			padding-top: 56px;
		}
	}
</style>

<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">





</head>

<body>

	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
		<div class="container">
			<a class="navbar-brand" href="/">WATCH SHOP</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active">
						<a class="nav-link" href="/">Home
							<span class="sr-only">(current)</span>
						</a>
					</li>
					<li class="nav-item">
						<% 
						if(authadmin == 1){
						%>		
						<a class="nav-link" href="/main/write">상품등록</a>
						<%
					}else{
					%>
					<a class="nav-link" href="#">About</a>
					<%
				}
				%>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Services</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/main/logout" id="logout">Logout</a>
			</li>
		</ul>
	</div>
</div>
</nav>

<!-- Page Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-3">

			<h4 class="my-4"><b><%= authid %></b>님<br>환영합니다</h4>
			<div class="list-group">
				<a href="/" class="list-group-item">SHOP</a>
				<a href="#" class="list-group-item">BASKET</a>
				<a href="#" class="list-group-item">MY INFO</a>
			</div>

		</div>
		<!-- /.col-lg-3 -->

		<div class="col-lg-9">


			<div class="row">


			</div>
			<div class="row">
				<div class="col-lg-12 col-md-12 mb-12">
					<form action="/main/update" method="post" enctype="multipart/form-data">
						<div class="card h-100">
							<a href="#"></a>
							<div class="card-body">
								<h4 class="card-title">
									<b><%= row.name %></b>
								</h4>
								<hr>
								<h5></h5>
								<p class="card-text">
									<div  class="table-responsive" >
										<table style="width:100%" class="table table-striped">
											<tr class="active">
												<td><b>사진</b></td>
											</tr>

											<tr>
												<td><img src='/images/<%=row.img %>' alt='이미지가 없습니다' /></td>
											</tr>
											<tr>
												<td><b>브랜드명</b></td>
											</tr>
											<tr> 
												<td><%= row.brandname %></td>
											</tr>
											<tr>
												<td><b>가격</b></td>
											</tr>
											<tr> 
												<td><%=row.price %>원</td>
											</tr>
											<tr>
												<td><b>상세정보</b></td>
											</tr>
											<tr>
												<td><%=row.information%></td>
											</tr>

										</table>
									</div>
								</p>
							</div>
							<div class="card-footer">
								<% if(authadmin == 1){
								%>
								<small class="text-muted"><button type="submit">수정</button></small>
								<small class="text-muted"><button type="button" id="delete">삭제</button></small>
								<% }else{			
								%>
								<small class="text-muted"><button type="submit">구매</button></small>
								<%
							}
							%>
						</div>
					</div>
				</form>
			</div>

		</div>
		<!-- /.row -->

	</div>
	<!-- /.col-lg-9 -->


</div>
<!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
	<div class="container">
		<p class="m-0 text-center text-white">Copyright &copy; WATCH SHOP</p>
	</div>
	<!-- /.container -->
</footer>

<form id="deleteProduct" method="post" action ="/main/delete" >
	<input type="hidden" id="no" name="no" value="<%=row.no%>"></input>
	<input type="hidden" id="img" name="img" value="<%=row.img%>"></input>
</form>

<!-- Bootstrap core JavaScript -->
<script src="/javascripts/jquery-3.3.1.min.js"></script>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
<script>
	$("#delete").click(function(){
		//alert("a");
		var con = confirm("<%= row.name %>을 정말 삭제하시겠습니까?");
		if(con == true){
			
			$("#deleteProduct").submit();
			
		}
		else if(con == false){
			return;
		}
		
	});
</script>


</body>

</html>
