<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title><%=title%></title>

	<style>
	body {
		padding-top: 54px;
	}

	@media (min-width: 992px) {
		body {
			padding-top: 56px;
		}
	}
</style>

<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">





</head>

<body>

	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
		<div class="container">
			<a class="navbar-brand" href="/">WATCH SHOP</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active">
						<a class="nav-link" href="/">Home
							<span class="sr-only">(current)</span>
						</a>
					</li>
					<li class="nav-item">
						<% 
						if(authadmin == 1){
						%>		
						<a class="nav-link" href="/main/write">상품등록</a>
						<%
					}else{
					%>
					<a class="nav-link" href="#">About</a>
					<%
				}
				%>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Services</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/main/logout" id="logout">Logout</a>
			</li>
		</ul>
	</div>
</div>
</nav>

<!-- Page Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-3">

			<h4 class="my-4"><b><%= authid %></b>님<br>환영합니다</h4>
			<div class="list-group">
				<a href="/" class="list-group-item">SHOP</a>
				<a href="#" class="list-group-item">BASKET</a>
				<a href="#" class="list-group-item">MY INFO</a>
			</div>

		</div>
		<!-- /.col-lg-3 -->

		<div class="col-lg-9">


			<div class="row">


			</div>
			<div class="row">
				<div class="col-lg-12 col-md-12 mb-12">
					<% if(authadmin == 1){
					%>
					<form action="/main/update" method="get" id="updateForm">
						<% } else { 
						%>
						<form action="/main/buy" method="post" id="buyform">
							<%
						}
						%>
						<input type="hidden" id="buyDate" name="buyDate" value=""></input>
						<input type="hidden" id="product_no" name="product_no" value="<%=row.no%>"></input>
						<input type="hidden" id="name" name="name" value="<%= row.name%>"></input>
						<input type="hidden" id="brandname" name="brandname" value="<%= row.brandname%>"></input>
						<input type="hidden" id="price" name="price" value="<%= row.price%>"></input>
						<input type="hidden" id="img" name="img" value="<%= row.img%>"></input>
						<input type="hidden" id="information" name="information" value="<%= row.information%>"></input>

						<div class="card h-100">
							<a href="#"></a>
							<div class="card-body">
								<h4 class="card-title">
									<b><%= row.name %></b>
								</h4>
								<hr>
								<h5></h5>
								<p class="card-text">
									<div  class="table-responsive" >
										<table style="width:100%" class="table table-striped">
											<tr class="active">
												<td><b><%= row.date %>에 등록</b></td>
											</tr>

											<tr>
												<td><img style="width:100%" src='/images/<%=row.img %>' alt='이미지가 없습니다'/></td>
											</tr>
											<tr>
												<td><b>브랜드명</b></td>
											</tr>
											<tr> 
												<td><%= row.brandname %></td>
											</tr>
											<tr>
												<td><b>가격</b></td>
											</tr>
											<tr> 
												<td><%=row.price %>원</td>
											</tr>
											<tr>
												<td><b>상세정보</b></td>
											</tr>
											<tr>
												<td><%=row.information%><hr><hr></td>
											</tr>
											<tr>
												<td><b>후기</b></td>
											</tr>
											<tr>
												<td><textarea id="review" name="review" style="width:80%"></textarea>
													<button type="button" id="reviewButton">입력</button></td>
												</tr>

												<% 
												for(var i =0; i< review.length; i++){

												%>
												<tr>
													<td><b>작성자</b>
														&nbsp;
														<%= review[i].member_id %>
														&nbsp;	
												
														<%= review[i].date %>
													</td>
												</tr>
												<tr>
													<td><%= review[i].value%></td>
												</tr>

												<%
											}
											%>




										</table>
									</div>
								</p>
							</div>
							<div class="card-footer">
								<% if(authadmin == 1){
								%>
								<small class="text-muted"><button type="button" id="updateButton">수정</button></small>
								<small class="text-muted"><button type="button" id="delete">삭제</button></small>
								<% }else{			
								%>
								<small class="text-muted"><button type="button" id="buy">구매</button></small>
								<%
							}
							%>
						</div>
					</div>
				</form>
			</div>

		</div>
		<!-- /.row -->

	</div>
	<!-- /.col-lg-9 -->


</div>
<!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
	<div class="container">
		<p class="m-0 text-center text-white">Copyright &copy; WATCH SHOP</p>
	</div>
	<!-- /.container -->
</footer>

<form id="deleteProduct" method="post" action ="/main/delete" >
	<input type="hidden" id="no" name="no" value="<%=row.no%>"></input>
	<input type="hidden" id="img" name="img" value="<%=row.img%>"></input>
</form>

<form id="submitReview" method="post" action= "/main/review">
	<input type="hidden" id="reviewNo" name="reviewNo" value="<%=row.no%>"></input>
	<input type="hidden" id="reviewId" name="reviewId" value="<%=authid%>"></input> 
	<input type="hidden" id="reviewValue" name="reviewValue" value=""></input>
	<input type="hidden" id="reviewDate" name="reviewDate" value=""></input>
</form>


<!-- Bootstrap core JavaScript -->
<script src="/javascripts/jquery-3.3.1.min.js"></script>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
<script>
	var dateObject = new Date();
	$("#delete").click(function(){
		//alert("a");
		var con = confirm("<%= row.name %>을 정말 삭제하시겠습니까?");
		if(con == true){
			
			$("#deleteProduct").submit();
			
		}
		else if(con == false){
			return;
		}
		
	});

	$("#buy").click(function(){	
		var con = confirm("<%= row.name %> 상품을 구매하시겠습니까?");
		if(con == true){
			var date = dateObject.getFullYear() +"년 " + (dateObject.getMonth()+1) +"월 " + dateObject.getDate() +"일 " + dateObject.getHours() + "시 " + dateObject.getMinutes() +"분 ";  

			$("#buyDate").val(date);
			$("#buyform").submit();
		}
		else if(con == false){
			return;
		}

	});

	$("#reviewButton").click(function(){
		$("#reviewValue").val($("#review").val());
		var date = dateObject.getFullYear() +"년 " + (dateObject.getMonth()+1) +"월 " + dateObject.getDate() +"일 " + dateObject.getHours() + "시 " + dateObject.getMinutes() +"분 ";   

		$("#reviewDate").val(date);
		$("#submitReview").submit();
	});

	$("#updateButton").click(function(){
		//alert("a");
		$("#updateForm").submit();
	});

</script>


</body>

</html>
